<%- include('../partials/header') %>
    <ul>
        <% top50.map((song)=>{ %>
            <li>
                <%- include('../partials/song', { song }) %>
            </li>
        <% }) %>
    </ul>
<%- include('../partials/footer') %>